[Unit]
Description=Docker Compose for Local Docker Registry
Documentation=https://docs.docker.com/compose/
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{WORKDIR}}
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
User={{USER}}
Group={{GROUP}}

[Install]
WantedBy=multi-user.target
