includes:
    - vendor/larastan/larastan/extension.neon

parameters:
  level: 8
  paths:
    - ./app
    - ./app
    - ./bootstrap
    - ./config
    - ./database
    - ./public/index.php
    - ./resources/views
    - ./routes
  ignoreErrors:
    - identifier: missingType.generics
